body {
    background-color: #DCDCDC;
}   

a.nav_li {
    text-decoration: none;
    color:black;
    font-size: 18px;
    margin: 0px;
}

a:hover {
    background-color:#FFEFD5;
}

li {
    display: inline;
    margin-right: 100px;
}


li:last-child {
    margin-right: 0px;
}

.main_ul {
    padding: 0px;
    position: relative;
}

/* --- Таблица для навигации --- */
.top_main_nav {
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0;
}

.top_main_table {
    max-width: 1200px;
    margin: 0 auto;
}

.top_main_table_width {
    width: 40px;
}

.top_left_sidebar_width {
    min-width: 230px;
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.top_left_container {
    display: inline-block;
}

.main_logo {
    max-width: 200px;
    width: 200px;
    min-width: 200px;
    height: auto;
    margin-right: 30px;
    vertical-align: middle;
}

.top_main_center_sidebar {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.top_center_container {
    display: inline-block;
}